/*New others*/
.blog span {
  color: #5B33FF;
}

.imageClass {
  border-radius: 50%;
  max-width: 75%;
}

.div-for-athor h1,
.div-for-athor h4,
.div-for-athor hr,
.div-for-athor p,
.div-for-athor div {
  margin: 0px;
  border-radius: 10px;
}

/*Animation*/

.animationLightning {
  animation-play-state: running;
  animation-name: highlighting-and-change-color;
  animation-duration: 0.75s;
  animation-iteration-count: 2;
  animation-delay: 0.3s;
}

@keyframes highlighting-and-change-color {
  0% {
    background-color: none;
  }

  50% {
    color: white;
    background-color: #5B33FF;
  }

  100% {
    background-color: none;
  }
}

.animationForSpan {
  animation-play-state: running;
  animation-name: highlighting-Span;
  animation-duration: 0.75s;
  animation-iteration-count: 2;
  animation-delay: 0.3s;
}

@keyframes highlighting-Span {
  0% {
    color: #5B33FF
  }

  50% {
    color: white;
  }

  100% {
    color: #5B33FF;
  }
}




/*End of Animation*/

/* Start div-for-text in div-for-information */
.div-for-text h4 {
  margin: 0;
  opacity: 0.75;
}

.div-for-text i {
  font-size: x-small;
  opacity: 0.3;
}

.div-for-text p {
  margin-top: 5px;
  font-size: small;
  opacity: 0.6;
}

.div-for-information::-webkit-scrollbar {
  display: none;
}

.div-for-text code {
  font-family: Consolas,
    "courier new";
  color: rgb(163, 43, 243);
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 85%;
}


/* End div-for-text in div-for-information */

.inst {
  background-image: url(./Image/Instagram_logo.png);
  border-radius: 10px;
  background-size: 100%
}

.faceb {
  background-image: url(./Image/FaceBook.png);
  border-radius: 10px;
  background-size: 100%
}

.twit {
  background-image: url(./Image/Twitter.png);
  border-radius: 10px;
  background-size: 100%
}

.git {
  background-image: url(./Image/GitHub.png);
  border-radius: 10px;
  background-size: 100%
}

.yout {
  background-image: url(./Image/Youtube.png);
  border-radius: 10px;
  background-size: 100%
}

.vertical-line {
  margin-top: 15px;
  justify-content: flex-start;
  display: flex;
  border-left: 6px solid #5B33FF;
  height: 30px;
  width: 50%;
}

.vertical-line h3 {
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 10px;
  align-self: center;
  color: #5B33FF;
}

.blog h1 {
  font-size: 35px;
  align-self: center;
}

.blog h4 {
  padding-top: 10px;
  align-self: center;
}

@media(max-width:810px) {
  .blog h1 {
    font-size: 30px;
  }
}

@media (max-width:767px) {

  .imageClass {
    border-radius: 50%;
    max-width: 75%;
  }

  .blog h1 {
    font-size: 20px;
  }

  .blog h4 {
    font-size: 10px;
    padding-top: 10px;
  }

  .div-for-athor p {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .div-for-information h2 {
    font-size: 20px;
  }

  .vertical-line {
    height: 15px;
    font-size: 10px;
  }

  .div-for-text h4 {
    font-size: 15px;
  }

  .div-for-text i {
    font-size: 10px;
  }

  .div-for-text p {
    font-size: 10px;
  }
}


/*End of New others*/