/*All information*/
html {
  height: 100%;
  font-family: sans-serif;
}

body {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  background: url(./Image/background_for_file_2.jpg) no-repeat 100%;
  height: 100%;
}

body>div {
  /* Done */
  height: 580px;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  width: 400px;
  margin: 5px;
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
  background-image: url(./Image/Backgoung_for_d.jpeg);
}

/*End of all information*/

/* First divs */
.div-for-buttons {
  /* Done */
  margin: 10px;
  height: 600px;
  width: 200px;
  padding: 0;
  border-style: none;
  background-image: none;
}

.div-for-athor {
  justify-content: space-evenly;
  align-items: center;
}

.div-for-information {
  overflow-y: scroll;
}

/* End of first divs */

/* Second divs in .div-for-athor */

.blog {
  border-radius: 10px;
  display: flex;
  width: 367.594px;
  height: 70px;
  flex-direction: column;
  align-self: center;
}


.div-for-contact {
  position: relative;
  cursor: pointer;
  height: 25px;
  color: white;
  font-size: 11px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

/*Animation*/
.div-for-contact {
  background-color: #5B33FF;
  box-shadow: 0 5px 0 #ffaf02;
  transition-duration: 500ms;
}

.div-for-contact:hover {
  top: 2px;
  background-color: #ffaf02;
  box-shadow: 0 3px 0 #5B33FF;
}

/*End of Animation*/

.div-for-socialNetworks {
  border-style: none;
  height: 40px;
}


/* End of second divs in .div-for-athor */

/* Second divs in .div-for-information */
.div-for-download {
  display: flex;
  flex-direction: row;
}

.div-for-text {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 4px;
  border-style: double;
  border-color: #91A2A4;
}

/* End of second divs in .div-for-information */